

#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
    color: white;
    font-family: poppins;
  }
  
  body {
    background: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;

  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,black,#892be28d);
  }
  
  .swiper-slide img {
    display: block;
    width: 80%;
    height: 60vh;
    /* object-fit: contain; */
    border-radius: 15px;
    
  }
  
  /* Custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: #892be2f8; /* Purple background color */
  color: #fff; /* White arrow color */
  border-radius: 10px; /* Rounded corners */
  width: 40px; /* Adjust the width */
  height: 40px; /* Adjust the height */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8; /* Slight transparency */
  transition: opacity 0.3s, transform 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1; /* Full opacity on hover */
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Position adjustments */
.swiper-button-next {
  right: 10px; /* Position to the right */
}

.swiper-button-prev {
  left: 10px; /* Position to the left */
}

/* Add some shadow for depth */
.swiper-button-next,
.swiper-button-prev {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 36px; /* Adjust the size */
  content: '›'; /* Customize the arrow */
}

.swiper-button-prev::after {
  content: '‹'; /* Customize the arrow */
}

/* styles.css */
.gradient-slide {
  position: relative;
}

.gradient-slide img {
  display: block; /* Ensure the image is a block-level element */
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.gradient-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Adjust the gradient colors and direction as needed */
  z-index: 1; /* Ensure the gradient is above the image */
}

.gradient-slide img {
  position: relative;
  z-index: 0; /* Ensure the image is below the gradient */
}
